NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_MAIN_CHANNEL_ID=
TELEGRAM_CHAPTER1_CHANNEL_ID=
TELEGRAM_CHAPTER2_CHANNEL_ID=
TELEGRAM_CHAPTER3_CHANNEL_ID=
TELEGRAM_CHAPTER4_CHANNEL_ID=
TELEGRAM_CHAPTER5_CHANNEL_ID=
TELEGRAM_CHAPTER6_CHANNEL_ID=
TELEGRAM_CHAPTER7_CHANNEL_ID=
RESEND_API_KEY=
SESSION_SECRET=
SUPPORT_WHATSAPP=
